html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

body {
    font-family: Catamaran;
} 

header {
      width: 100%;
      height: 100%;
      
}

.menu {
    margin-top: -15px;
    margin-top: -15.5%;
}

.logo {
      margin-top: -15.9%;
      padding: 0px 950px;
      position:absolute;
      margin: fixed;
      color: #fff;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 2px;
}
 
nav {
      box-sizing: border-box;
      transition: all 0.35 ease;
      position: fixed;
      width: 100%;
      line-height: 60px;
      letter-spacing: 2px;
}
 
nav ul {
      line-height: 20px;
      list-style: none;
      background: rgba(0, 0, 0, 0.2);
      overflow: hidden;
      color: #fff;
      padding: 0;
      text-align: center;
      margin: 0;
      padding-left: 0px;
      transition: 1s;
}



nav.black ul {
      background: rgba(0, 0, 0, 0.4);
}
 
nav ul li {
      display:inline-block;
      list-style: outside none none;
      padding: 16px 50px;
}
 
nav ul li a {
      padding: .5em 0.8em;
      color: rgba(255,255,255,0.5);
      position: relative;
      text-decoration: none;
      color: #fff;
      font-size: 16px;
}
 



a:before,
a:after {
    height: 14px;
    width: 14px;
    position: absolute;
    content: '';
    transition: all 0.35s;
    opacity: 0;
}

a:before {
    right: 0;
    top: 0;
    border-right: 3px solid white;
    border-top: 3px solid white;
    transform: translate(-100%, 50%);   
}

a:after {
    left: 0;
    bottom: 0;
    border-left: 3px solid white;
    border-bottom: 3px solid white;
    transform: translate(100%, -50%);
}

a:hover:before,
a:hover:after {
    transform: translate(0%, 0%);
    opacity: 1;
}

}




}
.glitch-window{
	position: absolute;
	top: 0;
	left: -2px;
	width: 100%;
	color: $headline-color;
	text-shadow: 2px 0 $background-color, -1px 0 yellow, -2px 0 green;
	overflow: hidden;
	animation: crt-me 2500ms infinite linear alternate-reverse;
	// background: red;
}



@import url('https://fonts.googleapis.com/css?family=Raleway:200');
body {
  font-family: 'Raleway', sans-serif;
  background:#27282d;
}


a.divLink {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    text-decoration: none;
    z-index: 10;
    background-color: white;
    opacity: 0;
    filter: alpha(opacity=0);
}

.wrapper {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 300px;
  height: 500px;
  perspective: 900px;
}

.container {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: .5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1;
}

#Layer_1 {
    background-image: url(youtube-logo.png);
}

#Layer_2 {
    background-image: url(logotwitch.png);
}
#c0 {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
  z-index: 300;
  box-shadow: 0px 20px 100px #555;
}

#c1 {
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
  left: 100%;
  z-index: 0;
}

#c2 {
  left: -100%;
  z-index: 0;
  background: linear-gradient(to bottom, #59476f 30%, #7b88d1 100%);
  box-shadow: 0px 20px 100px #555;
}

.container:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: .5s all ease;
  z-index: 400;
}

.image {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
  background: linear-gradient(to bottom, #ffffff 0%, #4b367b 100%);
}



#i2 {
  background: linear-gradient(to bottom, #ffffff 0%, #FF0000 100%);
}


.story {
  position: absolute;
  top: 45%;
  height: 55%;
  width: 100%;
  background: linear-gradient(to top, #ffffff 0%, #4b367b 100%);
  
}

#s1 {
  background: linear-gradient(to top, #ffffff 0%, #4b367b 120%);
}

#s2 {
  background: linear-gradient(to top, #ffffff 0%, #FF0000 120%);
}

.info {
  position: absolute;
  top: 10;
}

#container2 {
  width: 70vw;
  margin: 300px 300px;
}

h3 {
  text-align: center; 10px 
  color: black;
  letter-spacing: 2px;
  
}

p {
  font-size: 20px;
  color: black;
  padding: 0px 20px 20px 20px;
  line-height: 150%;
  text-align: center;
  letter-spacing: 1px;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-size: 5em;
  letter-spacing: 8px;
  font-family: sans-serif;
  font-weight: 400; 
  margin: 0;
  line-height: 0;
  animation: glitch1 2.5s infinite;
}
 h1:nth-child(2) {
  color: #67f3da;
  animation: glitch2 2.5s infinite;
}

h1:nth-child(3) {
  color: #f16f6f;
  animation: glitch3 2.5s infinite;
}



.wrapper2 {
  position: absolute;
  top: 40%;
  left: 50%;
  width: 300px;
  height: 500px;
  perspective: 900px;
}


.container2 {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  transition: .5s all ease;
  transform: rotateX(60deg) scale(0.7);
  perspective: 900px;
  box-shadow: 0px 20px 50px #555;
  animation: entry 1s linear 1;
}






#Layer_3 {
    background-image: url(youtube-logo.png);
}

#Layer_4 {
    background-image: url(logotwitch.png);
}

#c3 {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, #eba65b 30%, #d99267 100%);
  z-index: 300;
  box-shadow: 0px 20px 100px #555;
}

#c4 {
  background: linear-gradient(to bottom, #ffffff 30%, #00FF00 100%);
  box-shadow: 0px 20px 100px #555;
  left: 100%;
  z-index: 0;
}

#c5 {
  left: -100%;
  z-index: 0;
  background: linear-gradient(to bottom, #ffffff 30%, #00FF00 100%);
  box-shadow: 0px 20px 100px #555;
}

.container2:hover {
  cursor: pointer;
  transform: rotate(0deg) scale(1) translateY(10px);
  transition: .5s all ease;
  z-index: 400;
}

.image2 {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 45%;
  background: linear-gradient(to bottom, #ffffff 30%, #00FF00 100%);
}



#i3 {
  background: linear-gradient(to bottom, #ffffff 0%, #FF0000 100%);
}


.story2 {
  position: absolute;
  top: 45%;
  height: 55%;
  width: 100%;
  background: linear-gradient(to top, #ffffff 0%, #00FF00 100%);
  
}

#s3 {
  background: linear-gradient(to top, #ffffff 30%, #00FF00 120%);
}

#s4 {
  background: linear-gradient(to top, #ffffff 0%, #FF0000 120%);
}

.info2 {
  position: absolute;
  top: 10;
}

#container3 {
  width: 70vw;
  margin: -35vw auto;
}





@keyframes simple {
  50% {
    transform: translateX(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(10px);
    opacity: 0;
  }
}

@keyframes simple1 {
  50% {
    transform: translateX(-10px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(-10px);
    opacity: 0;
  }
}

@keyframes entry {
  0% {
    top: -20%;
    opacity: 0.1;
  }
  100% {
    top: 0%;
  }
}

@keyframes glitch1 {
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
@keyframes glitch2 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}
@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}